#loadingGrid {
    grid-template-rows: auto 1fr auto 1fr auto;
}

#loadingBar {
    background: var(--dark-27);
    border: 2px solid var(--dark-30);
    border-radius: 4px;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

#loadingFill {
    background: var(--loadingBarColor);
    text-align: center;
    padding: 5px 0;
    min-width: 0%;
    max-width: 100%;
    width: 0%;
    transition-duration: .1s;
}